runs/
detection/detection_dataset
detection/train
cleaning/gan_sign_cleaning_dataset
cleaning/gan-sign_data_kaggle
cleaning/train_results
cleaning/cycleGAN
verification/clean_sign_dataset
verification/sign_data
verification/sign_data_cutv2
verification/sign_verification_dataset
verification/sign_data_cutv2.7z
verification/vgg_finetuned_model.keras
streamlit_app/yolo_files/cropped
streamlit_app/yolo_files/result.jpg
streamlit_app/yolo_files/test1.jpg
streamlit_app/ui.py
testing_images/
